name: Service CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Context
      run: ls -al /home/runner/work/gis-api-system
    - name: Build & Push to Docker Hub
      uses: opspresso/action-docker@master
      with:
        args: --docker
      env:
        USERNAME: ${{ secrets.DOCKER_USERNAME }}
        PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        BUILD_PATH: /home/runner/work/gis-api-system
        IMAGE_NAME: "isammyk/gis-docker"
        TAG_NAME: "latest"
        LATEST: "true"

    - name: OPEN SSH Private Key
      uses: fifsky/ssh-action@master
      with:
        command: | 
          cd Services-Registery
          echo -e ${{ secrets.ENV }} > ./.envs/.${{ secrets.SERVICE }}
          sudo docker-compose stop ${{ secrets.SERVICE }}
          sudo docker-compose rm -f -v ${{ secrets.SERVICE }}
          sudo docker-compose pull ${{ secrets.SERVICE }}
          sudo docker-compose up -d --force-recreate --no-deps --build ${{ secrets.SERVICE }}
          sudo docker-compose start ${{ secrets.SERVICE }}
        host: ${{ secrets.EC2_HOST }}
        user: ubuntu
        key: ${{ secrets.EC2}}
        args: "-tt -vvv"
